/* style.css */
.border-dashed {
    border-style: dashed !important;
}

/* Indikator warna di samping list item */
.list-group-item {
    border-right: 5px solid #198754; /* Default Hijau */
    margin-bottom: 5px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.list-group-item.minus {
    border-right-color: #dc3545; /* Merah untuk pengeluaran */
}

/* Tombol hapus yang muncul saat hover */
.delete-btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: all 0.3s ease;
    background: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    height: 100%;
}

.list-group-item:hover .delete-btn {
    transform: translate(0, -50%);
    opacity: 1;
}

.list-group-item:hover {
    padding-left: 50px; /* Memberi ruang untuk tombol hapus saat hover */
}